<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.piyushjaiswal12.primeflix">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.EditProfile"></activity>
        <activity android:name=".activity.WatchList" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2685099075999149~8952373391" />

        <activity
            android:name=".activity.PlayerActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".activity.ProfileActivity" />
        <activity android:name=".activity.Main4Activity" />
        <activity android:name=".activity.PhoneActivity" />
        <activity android:name=".activity.Main3Activity" />
        <activity
            android:name=".activity.Main2Activity"
            android:screenOrientation="nosensor" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>